#==============================================================================
# BOOTSTRAP EXAMPLE VARIABLES
#==============================================================================

aws_region        = "us-east-1"
project_name      = "ecs-fargate-oidc"
environment       = "dev"
github_owner      = "bharathadigopula"
github_repository = "devops-platform-blueprints"
github_branch     = "main"

#==============================================================================
# GITHUB ACTIONS ROLE PERMISSIONS
#==============================================================================

create_blueprint_permissions_policy = true
enable_state_backend_permissions    = true
enable_workload_permissions         = true
managed_policy_arns                 = []
