#==============================================================================
# EDITOR CONFIGURATION
#==============================================================================

root = true

#==============================================================================
# DEFAULT FILE SETTINGS
#==============================================================================

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

#==============================================================================
# TERRAFORM FILE SETTINGS
#==============================================================================

[*.tf]
indent_size = 2

#==============================================================================
# JAVASCRIPT FILE SETTINGS
#==============================================================================

[*.js]
indent_size = 2
