#==============================================================================
# OPERATING SYSTEM FILES
#==============================================================================

.DS_Store

#==============================================================================
# TERRAFORM FILES
#==============================================================================

.terraform/
.external_modules/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

#==============================================================================
# NODE FILES
#==============================================================================

node_modules/
coverage/
dist/

#==============================================================================
# ENVIRONMENT FILES
#==============================================================================

.env
.env.*
!.env.example
