#==============================================================================
# PROD EXAMPLE VARIABLES
#==============================================================================

aws_region              = "us-east-1"
project_name            = "ecs-fargate-oidc"
environment             = "prod"
enable_nat_gateway      = false
enable_vpc_endpoints    = true
desired_count           = 2
log_retention_days      = 90
create_ecr_kms_key      = true
alb_deletion_protection = true
container_image_tag     = "latest"

#==============================================================================
# PROD TAGS
#==============================================================================

tags = {
  Owner      = "platform"
  CostCenter = "portfolio"
}
