#==============================================================================
# STATE BACKEND EXAMPLE VARIABLES
#==============================================================================

aws_region   = "us-east-1"
project_name = "ecs-fargate-oidc"
environment  = "shared"
state_name   = "platform"

#==============================================================================
# STATE BACKEND TAGS
#==============================================================================

tags = {
  Owner      = "platform"
  CostCenter = "portfolio"
}
